 body {
	padding-top:80px;
 }
 .jumbotron {
	margin-top: -30px;
 }
 input {
 	margin-bottom:25px;
 }
 .showHome {
 	padding: 50px;
 }

 #profile{
     height: auto;
     width: 95%;

 }
 #profile_body{
     height: auto;
     width: 45%;
     margin: auto auto auto 28%;
}
.containerProfile{
     background-color: gray;
}
 #profile_img{
     width: 200px;
     height: 200px;
     margin: 0 auto;
 }
 #profile_text{
     margin-left: 30%;
     margin-top: 10%;
 }
footer {
    text-align:center;
}
.list-group a {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	text-align:center;
}
